body{
    position: relative !important;
}

.footer-custom {
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}
